.root {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
  margin-bottom: 12px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Типы */
.banner {
  width: 100%;
  height: 400px;
}

.item {
  width: 100%;
  height: 100px;
}
