.header {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  background-color: #fff;
  border-bottom: 1px solid #f2f4f5;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 20px;
}

.date {
  font-size: 16px;
}
