.banner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.extra {
  font-size: 14px;
  color: #6c7072;
  margin: 0;
}
